.App {
  text-align: center;
  justify-content: stretch;
  background-color: #eeeeee;
}
.welcome-navbar{
  font-family: 'Courier New', Courier, monospace,bold;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}
.card-text{
  color: #00adb5;
}
.card-title{
  text-decoration-color: #00adb5;
}


.comboBoxes {
  display : block;
}

.nav-style{
  justify-content: left;
}

.bg-deepblue{
  background:#393e46
}

.bg-light-green{
  background: #aad8d3;
}
.bg-dark-green{
  background: #00adb5;
}


.container{
justify-items: end;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-bg-canvas);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-style {
  border-left-style: none;
  justify-content: right;
}

.card-investor-profile{
  background: #aad8d3;
}
.card-title{
  color: black;
}
